.searchSuggestions {
    display: flex;
    padding: 1rem;
    text-align: center;
    .icon {
        padding-right: 10px;
        color: white;
    }
}

.suggestion {
    margin-right: 30px;
    color: white;
}

.suggestion:last-child {
    margin-right: 0;
}

