.search-result {
    display: flex;
    justify-content: center;
    .card {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-radius: 5px;
        .card--text {
            margin-left: 10px;
            .card--title {
                font-size: 2rem;
                font-weight: bold;
            }
            .card--info {
                color: grey;
            }
        }
    }
}